## Örnek Teorisi

In [9]:
import numpy as np

In [10]:
populasyon = np.random.randint(0, 80, 10000) # ilçedeki insan sayısını temsil ediyor.

In [11]:
populasyon[0: 10]

array([12,  6, 75, 55, 20,  8, 46,  8, 53, 16])

#### Örneklem Çekme İşlemi

In [31]:
np.random.seed(115) #  aynı yapıya göre veri çekmesi için random.seed() işlemi gerçekleştiriyoruz.

In [32]:
orneklem = np.random.choice(a= populasyon, size= 100)

In [33]:
orneklem[0: 10]

array([73,  9, 69, 75, 24, 37, 15, 65, 44,  1])

In [34]:
orneklem.mean()

39.82

In [35]:
populasyon.mean()

39.4157

#### Örneklem Dağılımı

In [37]:
np.random.seed(10)

orneklem1 = np.random.choice(a= populasyon, size= 100)
orneklem2 = np.random.choice(a= populasyon, size= 100)
orneklem3 = np.random.choice(a= populasyon, size= 100)
orneklem4 = np.random.choice(a= populasyon, size= 100)
orneklem5 = np.random.choice(a= populasyon, size= 100)
orneklem6 = np.random.choice(a= populasyon, size= 100)
orneklem7 = np.random.choice(a= populasyon, size= 100)
orneklem8 = np.random.choice(a= populasyon, size= 100)
orneklem9 = np.random.choice(a= populasyon, size= 100)
orneklem10 = np.random.choice(a= populasyon, size= 100)

In [42]:
(orneklem1.mean() + orneklem2.mean() + orneklem3.mean() + orneklem4.mean() + orneklem5.mean() + orneklem6.mean() + 
orneklem7.mean() + orneklem8.mean() + orneklem9.mean() + orneklem10.mean()) / 10

41.227

## Betimsel İstatistikler

In [46]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [47]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [52]:
!pip install researchpy

Collecting researchpy
  Using cached researchpy-0.2.3-py3-none-any.whl (10 kB)
Requirement already satisfied: pandas in d:\anaconda3\lib\site-packages (from researchpy) (1.0.1)
Requirement already satisfied: statsmodels in d:\anaconda3\lib\site-packages (from researchpy) (0.11.0)
Requirement already satisfied: scipy in d:\anaconda3\lib\site-packages (from researchpy) (1.4.1)
Requirement already satisfied: numpy in d:\anaconda3\lib\site-packages (from researchpy) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in d:\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in d:\anaconda3\lib\site-packages (from pandas->researchpy) (2019.3)
Requirement already satisfied: patsy>=0.5 in d:\anaconda3\lib\site-packages (from statsmodels->researchpy) (0.5.1)
Requirement already satisfied: six>=1.5 in d:\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas->researchpy) (1.14.0)
Installing collected packages: researchpy
Successfully installed researchpy-0.2.3

In [53]:
import researchpy as rp

In [54]:
rp.summary_cont(df[["total_bill","tip","size"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [56]:
rp.summary_cat(df[["sex","smoker","day"]])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [57]:
df[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [59]:
df[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

##### İş Uygulaması: Fiyat stratejisi karar destek sistemi

Problem:
    CEO fiyat belirleme konusunda bilimsel bir dayanak ve esneklik isteniyor.
Detaylar:
    Satıcı, alıcı ve ürün var.
    Alıcılara ürüne ne kadar ücret öderdiniz diye soruluyor.
    Optimum fiyat bilimsel ve esnek olarak bulunmak isteniyor.

In [61]:
import numpy as np 
fiyatlar = np.random.randint(10,110,1000)
fiyatlar.mean()

60.317

In [62]:
import statsmodels.stats.api as sms

In [63]:
dir(sms)

['CompareCox',
 'CompareJ',
 'CompareMeans',
 'DescrStatsW',
 'Describe',
 'FTestAnovaPower',
 'FTestPower',
 'FactoredPSDMatrix',
 'GofChisquarePower',
 'HetGoldfeldQuandt',
 'Mediation',
 'NormalIndPower',
 'NullDistribution',
 'OaxacaBlinder',
 'RegressionFDR',
 'Runs',
 'SquareTable',
 'StratifiedTable',
 'TTestIndPower',
 'TTestPower',
 'Table',
 'Table2x2',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acorr_breusch_godfrey',
 'acorr_ljungbox',
 'acorr_lm',
 'anova_lm',
 'binom_test',
 'binom_test_reject_interval',
 'binom_tost',
 'binom_tost_reject_interval',
 'breaks_cusumolsresid',
 'breaks_hansen',
 'chisquare_effectsize',
 'cochrans_q',
 'compare_cox',
 'compare_encompassing',
 'compare_j',
 'corr_clipped',
 'corr_nearest',
 'corr_nearest_factor',
 'corr_thresholded',
 'cov_cluster',
 'cov_cluster_2groups',
 'cov_hac',
 'cov_hc0',
 'cov_hc1',
 'cov_hc2',
 'cov_hc3',
 'cov_nearest',
 'cov_nearest_factor_homog',
 'cov_nw_panel',
 'cov_white_simple',
 'diagnostic',
 'durbin_watson',
 'fdrcorrection',
 'fdrcorrection_twostage',
 'gof',
 'gof_chisquare_discrete',
 'het_arch',
 'het_breuschpagan',
 'het_goldfeldquandt',
 'het_white',
 'jarque_bera',
 'lilliefors',
 'linear_harvey_collier',
 'linear_lm',
 'linear_rainbow',
 'linear_reset',
 'local_fdr',
 'mcnemar',
 'moment_helpers',
 'multicomp',
 'multinomial_proportions_confint',
 'multipletests',
 'normal_ad',
 'omni_normtest',
 'power_binom_tost',
 'power_ztost_prop',
 'powerdiscrepancy',
 'proportion_confint',
 'proportion_effectsize',
 'proportions_chisquare',
 'proportions_chisquare_allpairs',
 'proportions_chisquare_pairscontrol',
 'proportions_ztest',
 'proportions_ztost',
 'recursive_olsresiduals',
 'runstest_1samp',
 'runstest_2samp',
 'sandwich_covariance',
 'se_cov',
 'spec_white',
 'stattools',
 'tt_ind_solve_power',
 'tt_solve_power',
 'ttest_ind',
 'ttost_ind',
 'ttost_paired',
 'tukeyhsd',
 'zconfint',
 'zt_ind_solve_power',
 'ztest',
 'ztost']

In [67]:
sms.DescrStatsW(fiyatlar).tconfint_mean()

(58.54670439203609, 62.08729560796391)

## Bernoulli Dağılımı

In [1]:
from scipy.stats import bernoulli

In [2]:
p = 0.6 #yazı

# iki sonuçlu bir olay, yazı tura.

In [8]:
rv = bernoulli(p)
y = rv.pmf(k= 1) # yazı
t = rv.pmf(k= 0) # tura
print("yazı gelme olasılığı:", str(y) + ", tura gelme olasılığı", str(t))
# probability mass function --> olasılık kütle fonksiyonu

yazı gelme olasılığı: 0.6, tura gelme olasılığı 0.4

## Binom Dağılımı

In [9]:
from scipy.stats import binom

In [13]:
p = 0.01 # olasılık değeri
n = 100 # deneme sayısı
rv = binom(n, p)
print(rv.pmf(1))
print(rv.pmf(5))
print(rv.pmf(10))

0.36972963764971983
0.0028977871237616114
7.006035693977161e-08

## Poisson Dağılımı

In [14]:
from scipy.stats import poisson

In [16]:
lambda_ = 0.1

In [17]:
rv = poisson(mu= lambda_)

In [21]:
rv.pmf(k= 0)
# k hata sayısı, başarı sayısı

0.9048374180359595

In [22]:
rv.pmf(k= 3)

0.00015080623633932676

In [24]:
rv.pmf(k= 5)

7.54031181696634e-08

## Normal Dağılım

In [25]:
from scipy.stats import norm

In [27]:
1-norm.cdf(90, 80, 5) # cdf(hesaplanıcak değer, ortalama, standart sapma)

# cumulative density function --> kümülatif yogunluk fonksiyonu

0.02275013194817921